<div style="text-align: center; margin: auto;">
  <h1>Calculadora</h1>
  <div class="margen">
    <div class="calculadora" >
        <div class="encabezado-superior">
          <ul>
            <li id="li-encabezado-1" style="text-align:right"><i class="fas fa-signal"></i></li>
            <li id="li-encabezado-1">IDEA</li>
            <li id="li-encabezado-2">10:10 AM</li>
            <li id="li-encabezado-3">block</li>
            <li id="li-encabezado-3"><i class="fas fa-battery-full"></i></li>
        </ul>
      </div>
      <div class="encabezado-inferior" >
        <ul>
          <li id="oction-1" ><i class="fas fa-bars"></i></li>
          <li id="oction-2" ><i class="fas fa-cog"></i></li>
        </ul>
      </div>
      <div class="area-operacion" >
        <textarea  id="operacion" placeholder="operacion"></textarea>
      </div>
      <div class="area-resultado">
        <h2 id="text-area">M</h2>
        <input id="num-area" type="string" placeholder="resultado" disabled>
      </div>
      <div class="teclado">
        <ul ng-app="Myapp">
          <li ng-controller="myCtrl"><Button onclick="btn1()" class="btn btn-lrg {{teclado[0]['btn']}}" (click)="btn1()">{{teclado[0]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[1]['btn']}}" (click)="btn2()">{{teclado[1]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[2]['btn']}}" (click)="btn3()">{{teclado[2]["nombre"]}}</Button></li><br>
          <li><Button class="btn btn-cor {{teclado[3]['btn']}}" (click)="btn4()">{{teclado[3]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[4]['btn']}}" (click)="btn5()">{{teclado[4]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[5]['btn']}}" (click)="btn6()">{{teclado[5]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[6]['btn']}}" (click)="btn7()">{{teclado[6]["nombre"]}}</Button></li><br>
          <li><Button class="btn btn-cor {{teclado[7]['btn']}}" (click)="btn8()">{{teclado[7]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[8]['btn']}}" (click)="btn9()">{{teclado[8]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[9]['btn']}}" (click)="btn10()">{{teclado[9]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[10]['btn']}}" (click)="btn11()">{{teclado[10]["nombre"]}}</Button></li><br>
          <li><Button class="btn btn-cor {{teclado[11]['btn']}}" (click)="btn12()">{{teclado[11]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[12]['btn']}}" (click)="btn13()">{{teclado[12]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[13]['btn']}}" (click)="btn14()">{{teclado[13]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[14]['btn']}}" (click)="btn15()">{{teclado[14]["nombre"]}}</Button></li><br>
          <li><Button class="btn btn-cor {{teclado[15]['btn']}}" (click)="btn16()">{{teclado[15]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[16]['btn']}}" (click)="btn17()">{{teclado[16]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[17]['btn']}}" (click)="btn18()">{{teclado[17]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[18]['btn']}}" (click)="btn19()">{{teclado[18]["nombre"]}}</Button></li><br>
          <li><Button class="btn btn-lrg {{teclado[19]['btn']}}" (click)="btn20()">{{teclado[19]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[20]['btn']}}" (click)="btn21()">{{teclado[20]["nombre"]}}</Button></li>
          <li><Button class="btn btn-cor {{teclado[21]['btn']}}"(click)="btn22()">{{teclado[21]["nombre"]}}</Button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
