<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="222"  src="../../assets/img/Logo.svg">
  <h2>Mi Aporte a la Compañia</h2>
  <p class="div1">Le aportaría a la organización innovación a la hora de implementar ideas creativas de mi autoría, que estén direccionadas al cumplimiento  de los objetivos   corporativos. Sin dejar de lado la disciplina, el compromiso y la responsabilidad para llevar a cabalidad las funciones a desempeñar.
  </p>
  <button class="btn-1" >Calculadora</button>
</div>
