<div class="perfil">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="222"  src="../../assets/img/Logo.svg">
  <h2>Mi Aporte a la Compañia</h2>
  <p class="div1">Yo pienso que Le aportaría a la organización innovación a la hora de implementar ideas creativas de mi autoría, que estén direccionadas al cumplimiento  de los objetivos   corporativos. Sin dejar de lado la disciplina, el compromiso y la responsabilidad para llevar a cabalidad las funciones a desempeñar.
  </p>
  <h2>Dificultades</h2>
  <p class="div1">Los problemas presentados: fueron al momento de cargar alguna ruta de tal archivo no carga de forma instantanea, y aveces no compila correctamente, en lo cual toca borrar cache. 
    Aparte de esto, no había manejado angular, y fue un poco complejo aprenderme la sintaxis de TypeScript.
  </p>
  <h2>Creditos</h2>
  <a href="https://www.linkedin.com/in/jonathan-casas/" target="_blank" class="creditos">Jonathan Casas.</a><br><br><br>
  <button routerLink="/calculadora" class="btn-1" > Calculadora</button>
</div>
