.btn-1{
    background-color: cornflowerblue;
    border: 0;
    border-radius: 5px;
    height: 20px;
    width: 90px;
}
.perfil{
    width: 230px;
    margin: auto;   
}
.creditos{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}